MONGO_URL=mongodb+srv://<username>:<password>@horondi-yl27g.mongodb.net/<database name>?retryWrites=true&w=majority
MAIL_USER=
SECRET=
CONFIRMATION_SECRET=
EXPIRES_IN=
RECOVERY_EXPIRE='1d'
BASE_URI=http://localhost:5000/
FRONT_BASE_URI=http://localhost:3000/
KEY_VAULTS_URI=
IMAGE_LINK=
STORAGE_ACCOUNT=horondi
ACCESS_KEY=
AZURE_HOST=
SENDGRID_API_KEY=
CURRENCY_API_URL=https://openexchangerates.org/api/latest.json?app_id=863956b0030a4e53957b84a90022b2e9&base=usd
HEALTH_PORT=6000
CRYPTO=
