MONGO_URL=mongodb+srv://<username>:<password>@horondi-yl27g.mongodb.net/<database name>?retryWrites=true&w=majority
MAIL_USER=horondi.devproject@gmail.com
SECRET=
CONFIRMATION_SECRET=
EXPIRES_IN='1h'
RECOVERY_EXPIRE='1d'
BASE_URI=http://localhost:5000/graphql
FRONT_BASE_URI=http://localhost:3000/
KEY_VAULTS_URI=
IMAGE_LINK=
STORAGE_ACCOUNT=horondi
ACCESS_KEY=
AZURE_HOST=https://horondi.blob.core.windows.net/horondi
SENDGRID_API_KEY=
CURRENCY_API_URL=https://openexchangerates.org/api/latest.json?app_id=c68ad56ddce94d3ab18226b5b398c6b5&base=usd
HEALTH_PORT=6000