@media screen and (max-width: 818px) {
  header {
    margin-bottom: 60px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .container {
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 3.35%, #000000 149.48%);
  }

  .responseTitle {
    display: block !important;
    padding-top: 220px;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.0025em;
    color: #fff !important;
  }

  .desktopTitle {
    display: none;
  }

  .text {
    margin-bottom: 16px;
  }

  .continue {
    margin-left: 0 !important;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .productTable {
    margin-bottom: 20px;
  }

  .product {
    width: 65%;
  }

  .size, .price {
    display: none;
  }

  .productSizeResponsive {
    display: flex;
  }
}

@media (max-width: 620px){
  .responseTitle {
    font-size: 28px;
  }

  .tableHead th, .tableBody td {
    text-align: center;
  }

  .tableBody td {
    padding: 10px 0;
  }

  .productTable {
    margin-bottom: 15px;
  }

  .product {
    width: 55%;
  }

  .productWrapper {
    flex-direction: column;
  }

  .productImg {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .productInfo {
    align-items: center;
  }

  .productTitle {
    font-size: 20px;
  }

  .productMaterial, .productSizeResponsive {
    font-size: 12px;
  }

  .paymentPrice, .productTotal, .productQuantity {
    font-size: 18px;
  }

  .payment {
    margin-bottom: 15px;
  }

  .text {
    font-size: 14px;
  }

  .continue a {
    font-size: 12px;
  }
}

@media (max-width: 450px){
  .responseTitle {
    padding-top: 180px;
  }

  .paymentPrice, .productTotal, .productQuantity {
    font-size: 16px;
  }

  .payment {
    margin-right: 0;
  }
}

@media (max-width: 375px){
  .tableHead th{
    font-size: 11px;
  }

  .product {
    width: 50%;
  }

  .productTitle {
    font-size: 16px;
    line-height: 18px;
  }

  .productMaterial {
    line-height: 14px;
  }

  .productSizeResponsive {
    margin-top: 5px;
  }
}




