@media screen and (max-width: 818px) {
  body {
    width: 818px;
  }

  header {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: flex-end;*/
    /*margin-bottom: 60px;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /*.upperTitle {*/
  /*  display: block;*/
  /*  width: 100%;*/
  /*  padding-bottom: 40px;*/
  /*  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 3.35%, #000000 149.48%);*/
  /*  font-family: 'Open Sans', sans-serif;*/
  /*  font-size: 34px;*/
  /*  font-weight: 300;*/
  /*  line-height: 46px;*/
  /*  letter-spacing: 0.0025em;*/
  /*}*/

  .subheader {
    /*display: none;*/
    position: relative;
    bottom: 110px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 3.35%, #000000 149.48%);
  }



  p.registrationText,
  p.blockUserText,
  p.successfulRegistrationText,
  .title{
    color: aliceblue;
    font-size: 34px;
    font-weight: 400;
  }

  .title {
    margin: 0;
  }

  p.congrats {
    margin-top: 0;
    padding-top: 0;
  }

  div.contentRegistrationText {
    width: 705px;
  }

  p.congrats,
  p.link,
  a.alink,
  p.ignore,
  button.confirm,
  footer.top,
  div.unlockUserContent,
  div.blockUserContent {
    margin-left: 40px;
    padding-left: 0;
  }

  footer.top {
    border-top: 0px;
  }

  footer p {
    padding-top: -40px;
  }

  div.unlockUserContent,
  div.blockUserContent {
    padding-top: 0;
  }

  footer {
    width: 705px;
  }
}
