p.registrationText {
    height: 44px;
    width: 553px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

div.contentRegistrationText {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.congrats {
    margin-left: 62px;
    align-self: flex-start;
    width: 718px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.confirm {
    width: 315px;
    height: 76px;
    background: #000000;
    align-items: center;
}

.confirm a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

p.link {
    width: 291px;
    height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

a.alink {
    margin-left: 62px;
    align-self: flex-start;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #000000;
}