body {
  width: 818px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

header {
  background-image: url('./img/email-templates.png');
  background-size: cover;
  height: 290px;
  text-align: center;
  color: #ffffff;
}

header h1 {
  margin: 0;
  padding-top: 25px;
  font-size: 96px;
  line-height: 117px;
}

header .subheader {
  margin: 0 auto;
  height: 118px;
  width: 602px;
  background: rgba(0, 0, 0, 0.5);
}

footer.top {
  margin-top: 30px;
  border-top: 2px solid #9c9c9c3d;
  width: 600px;
  margin-left: 100px;
}

footer p {
  height: 22px;
  margin: 0;

  padding-top: 24px;
  font-size: 18px;
  color: #000000;
}

footer h2 {
  margin: 0;
  font-weight: 900;
  font-size: 36px;
  color: #000000;
}

p.registrationText,
p.paymentText,
p.unfinishedCartOperations,
p.answerReceivedText {
  margin: 0;
  padding-top: 35px;
  font-size: 36px;
  line-height: 44px;
}

div.contentRegistrationText {
  height: 320px;
  padding-left: 62px;
}

div.answerDiv {
  width: 718px;
  height: 154px;
  padding-top: 50px;
  padding-left: 62px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

p.condition {
  font-size: 14px;
}

div.answerDiv > p {
  color: #000 !important;
}

div.contentPaymentText,
div.contentUnfinishedCartOperations {
  padding-left: 62px;
}

p.congrats {
  padding-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
}

p.code {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.confirm {
  width: 315px;
  height: 76px;
  margin-left: 213px;
  background: #000000;
  text-align: center;
}

.confirm a {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}

p.link {
  width: 357px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

a.alink {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-decoration-line: underline;
  color: #000000;
}

p.successfulRegistrationText {
  margin: 0 auto;
  width: 552px;
  padding-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

.blockUserText {
  margin: 0;
  padding-top: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  text-align: center;
}

.blockUserContent {
  width: 718px;
  height: 168px;
  padding-top: 26px;
  padding-left: 61px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: justify;
}

.blockUserContent > p {
  margin-bottom: 32px;
  margin-top: 0px;
}

.unlockUserContent {
  width: 718px;
  height: 120px;
  padding-top: 26px;
  padding-left: 62px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: justify;
}

.unlockUserContent > p {
  margin-bottom: 34px;
  margin-top: 0px;
}

.termslink {
  color: #000000;
}

.productTable {
  min-width: 100%;
  min-height: auto;
  border-collapse: collapse;
  margin: 2rem 0;
}

.tableHead th,
.tableBody td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1.5px solid #e0e0e0c4;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.tableHead th {
  border-top: 1.5px solid #e0e0e0c4;
  font-size: 1.3rem;
  font-weight: 100;
}

.tableImg {
  display: block;
  width: 130px;
  overflow: hidden;
  margin: 0 auto;
}

.tableBody td {
  padding: 15px;
  font-size: 1rem;
  height: 140px;
}

caption {
  caption-side: bottom;
  text-align: right;
  font-size: 17px;
  margin: 23px;
}

.completeOperationsText,
.operationsLink,
.aoperationsLink {
  font-size: 17px;
}
