extends template-ua
block subheaderText
    p.answerReceivedText Вам надано відповідь на Ваше питання
block content
    div.answerDiv
        p Вітаємо, #{senderName}! Ви залишили питання на HORONDI.
        p Зміст питання: #[strong #{question}]
        p Відповідь: #[strong #{answer}]
        p.condition Якщо ви не залишали цього запитання - проігноруйте цей лист.