extends template-ua
block headerText
    h1.responseTitle Вам надано відповідь на Ваше запитання
block subheaderText
    h1.desktopTitle Вам надано відповідь на Ваше запитання
block content
    div.contentWrapper
        p.text Вітаємо, #{senderName}! Ви залишили питання на HORONDI.
        p.text Зміст питання: #[strong #{question}]
        p.text Відповідь: #[strong #{answer}]
        p.text Якщо ви не залишали цього запитання - проігноруйте цей лист.
