extends template-ua
block subheaderText
    p.blockUserText Ваш акаунт заблоковано
block content
    div.blockUserContent
        p Шкодуємо, 
        if period!=='infinite'
            p Ваш акаунт порушив правила користування нашим сайтом і був заблокований на #{period} днів.
        else
            p Ваш акаунт порушив правила користування нашим сайтом і був заблокований довічно.
        p Сподіваємось ви знайдете час на ознайомлення з правилами детальніше і надалі не будете потрапляти в такі прикрі ситуації.