extends template-ua
block headerText
    h1.responseTitle Ваш акаунт заблоковано
block subheaderText
    h1.desktopTitle Ваш акаунт заблоковано
block content
    div.contentWrapper
        p.text Шкодуємо,
        if period!=='infinite'
            p.text Ваш акаунт порушив правила користування нашим сайтом і був заблокований на #{period} днів.
        else
            p.text Ваш акаунт порушив правила користування нашим сайтом і був заблокований довічно.
        p.text Сподіваємось ви знайдете час на ознайомлення з правилами детальніше і надалі не будете потрапляти в такі прикрі ситуації.
