extends template
block subheaderText
    p.blockUserText Ваш аккаунт заблоковано
block content
    div.blockUserContent
        p Шкодуємо, #[br]#[br] Ваш аккаунт порушив правила користування нашим сайтом і був заблокований на #{period}. #[br]#[br] Сподіваюся ви знайдете час ознайомитися з правилами детальніше і надалі не будете потрапляти в такі прикрі ситуації.