extends template-en
block subheaderText
    p.blockUserText Your account has been blocked
block content
    div.blockUserContent
        p We are sorry,
        if period!=='infinite'
            p Your account has violated the rules for using our site and has been blocked for #{period} days.
        else
            p Your account has violated the rules for using our site and has been blocked forever.
        p We hope you will find time to get acquainted with the rules in more detail, 
        p and will not get into such regrettable situations in the future.
