extends template-en
block headerText
    h1.responseTitle Your account has been blocked
block subheaderText
    h1.desktopTitle Your account has been blocked
block content
    div.contentWrapper
        p.text We are sorry,
        if period!=='infinite'
            p.text Your account has violated the rules for using our site and has been blocked for #{period} days.
        else
            p.text Your account has violated the rules for using our site and has been blocked forever.
        p.text We hope you will find time to get acquainted with the rules in more detail, and will not get into such regrettable situations in the future.

