extends template
block subheaderText
    p.blockUserText Ваш аккаунт заблоковано
block content
    div.blockUserContent
        if period!=='infinite'
            p Шкодуємо, #[br]#[br] Ваш аккаунт порушив правила користування нашим сайтом і був заблокований на #{period} днів. #[br]#[br] Сподіваюся ви знайдете час ознайомитися з правилами детальніше і надалі не будете потрапляти в такі прикрі ситуації.
        else
            p Шкодуємо, #[br]#[br] Ваш аккаунт порушив правила користування нашим сайтом втретє і був заблокований назавжди.
