extends template-en
block headerText
    h1.responseTitle Your HORONDI Certificate
block subheaderText
    h1.desktopTitle Your HORONDI Certificate
block content
    div.contentWrapper
        each item in items
            p.text Congratulations! #[br] You have successfully purchased  the gift certificate №p=`${item.code}` HORONDI for p= `${item.value}` UAH.
                div.continerImg
                    div.shadow
                        include ./img/certificate-500-front.svg  
                    div.shadow
                        include ./img/certificate-back.svg 
            p.listHeader #[strong Pay attention!]
            ol 
                li The gift certificate provides #[strong a discount on any Horondi product.]
                li If the purchase price exceeds the avaliable balance of the girt certificate, #[strong the difference can be paid in a convenient way.]
                li The gift certificate is #[strong non-refundable or exchangeable] for the corresponding cash equivalent.
                li The certificate is valid for 365 days from the date of purchase - #[strong p= `${item.dateStart}`] (purchase date of your certificate). 