extends template
block subheaderText
    p.registrationText Пароль для підтвердження
block content
    div.contentRegistrationText
        p.congrats Вітаємо! #[br] Щоб підтвердити створення адміністратора введіть код:
        p.code #{otp_code}
