extends template-ua
block headerText
    h1.responseTitle Реєстрація Адміністратора
block subheaderText
    h1.desktopTitle Реєстрація Адміністратора
block content
    div.contentWrapper
        p.text Вітаємо! #[br] Щоб зареєструватись як адміністратор, підтвердіть пошту:
        button.continue
            a(href=adminUrl + `/confirmation/` + token) підтвердити пошту
        p.text або перейдіть за посиланням нижче: #[br]
            a.link(href=adminUrl + `/confirmation/` + token) #{adminUrl + `/confirmation/` + token}
