extends template-en
block headerText
    h1.responseTitle Administrator Registration
block subheaderText
    h1.desktopTitle Administrator Registration
block content
    div.contentWrapper
        p.text Congratulations! #[br] To register as an administrator, confirm you email:
        button.continue
            a(href=adminUrl + `/confirmation/` + token) confirm e-mail
        p.text or follow the link: #[br]
            a.link(href=adminUrl + `/confirmation/` + token) #{adminUrl + `/confirmation/` + token}
