extends template-ua
block headerText
    h1.responseTitle Пароль для підтвердження
block subheaderText
    h1.desktopTitle Пароль для підтвердження
block content
    div.contentWrapper
        p.text Вітаємо! #[br] Щоб підтвердити створення адміністратора введіть код:
        p.code #{otp_code}
