extends template-en
block headerText
    h1.responseTitle Confirmation password
block subheaderText
    h1.desktopTitle Confirmation password
block content
    div.contentWrapper
        p.text Greetings! #[br] To confirm the Administrator account, enter the code:
        p.code #{otp_code}
