extends template-ua
block headerText
    h1.responseTitle Ви успішно зареєструвались
block subheaderText
    h1.desktopTitle Ви успішно зареєструвались
block content
    div.contentWrapper
        p.text Вітаємо! #[br] Ви успішно зареєструвались в нашому магазині, залишилося лише підтвердити вашу електронну адресу:
        button.continue
            a(href=frontendUrl + `/confirmation/` + token) confirm e-mail
        p.text або перейдіть за посиланням нижче: #[br]
            a.link(href=frontendUrl + `/confirmation/` + token) #{frontendUrl + `/confirmation/` + token}
