extends template-en
block subheaderText
    p.registrationText Administrator Registration
block content
    div.contentRegistrationText
        p.congrats Greetings! #[br] To register as an administrator, confirm you email:
        button.confirm
            a(href=adminUrl + `/confirmation/` + token) CONFIRM E-MAIL
        p.link or follow the link:
        a.alink(href=adminUrl + `/confirmation/` + token) #{adminUrl + `/confirmation/` + token}
