extends template-ua
block styles 
    link(rel="stylesheet", href="css/confirm-email-and-recover-password.css")
block subheaderText
        p.registrationText Ви успішно зареєструвались
block content
    div.contentRegistrationText
        p.congrats Вітаємо! #[br] Ви успішно зареєструвались в нашому магазині, залишилося лише підтвердити вашу електронну адресу:
        button.confirm
            a(href=frontendUrl + `/confirmation/` + token) Підтвердити e-mail
        p.link або перейдіть за посиланням нижче:
        a.alink(href=frontendUrl + `/confirmation/` + token) #{frontendUrl + `/confirmation/` + token}