extends template-en
block headerText
    h1.responseTitle Password recovery
block subheaderText
    h1.desktopTitle Password recovery
block content
    div.contentWrapper
        p.text Congratulations! #[br] You have successfully submitted a password reset request:
        button.continue
            a(href=frontendUrl + `/recovery/` + token) Recover password
        p.text or follow the link below: #[br]
            a.link(href=frontendUrl + `/recovery/` + token)  #{frontendUrl + `/recovery/` + token}
        p.text  If you did not request a password reset, please ignore this message.
