extends template-en
block styles 
    link(rel="stylesheet", href="css/confirm-email-and-recover-password.css")
block subheaderText
    p.registrationText Password recovery
block content
    div.contentRegistrationText
        p.congrats Congratulations! #[br] You have successfully submitted a password reset request:
        button.confirm
            a(href=frontendUrl + `/recovery/` + token) Recover password
        p.link or follow the link below:
        a.alink(href=frontendUrl + `/recovery/` + token) #{frontendUrl + `/recovery/` + token}
        p.ignore  If you did not request a password reset, please ignore this message.