extends template-ua
block subheaderText
    p.registrationText Відновлення паролю
block content
    div.contentRegistrationText
        p.congrats Вітаємо! #[br] Ви успішно надіслали запит на відновлення паролю:
        button.confirm
            a(href=frontendUrl + `/recovery/` + token) Відновити пароль
        p.link або перейдіть за посиланням нижче:
        a.alink(href=frontendUrl + `/recovery/` + token) #{frontendUrl + `/recovery/` + token}
        p.ignore  Якщо Ви не подавали заявку на відновлення - проігноруйте це повідомлення.