extends template-ua
block headerText
    h1.responseTitle Відновлення паролю
block subheaderText
    h1.desktopTitle Відновлення паролю
block content
    div.contentWrapper
        p.text Вітаємо! #[br] Ви успішно надіслали запит на відновлення паролю:
        button.continue
            a(href=frontendUrl + `/recovery/` + token) відновити пароль
        p.text або перейдіть за посиланням нижче: #[br]
            a.link(href=frontendUrl + `/recovery/` + token)  #{frontendUrl + `/recovery/` + token}
        p.text  Якщо Ви не подавали заявку на відновлення - проігноруйте це повідомлення.
