extends template-en
block subheaderText
    p.registrationText Password recovery
block content
    div.contentRegistrationText
        p.congrats Congratulations! #[br] You successfully sent the password recovery request:
        button.confirm
            a(href=frontendUrl + `/recovery/` + token) Recover the password
        p.link or follow the link below:
        a.alink(href=frontendUrl + `/recovery/` + token) #{frontendUrl + `/recovery/` + token}