extends template-en
block subheaderText
    p.unfinishedCartOperations Your order has been successfully processed

block content
    div.contentUnfinishedCartOperations
        p.thankYouText Thank you for always being with us!
        button.confirm
            a(href) continue shopping

