extends template-ua
block headerText
    h1.responseTitle Ви успішно зареєструвались
block subheaderText
    h1.desktopTitle Ви успішно зареєструвались
block content
    div.contentWrapper
        p.text Вітаємо! #[br] Ви успішно зареєструвались у нашому магазині, залишилося лише підтвердити вашу електронну адресу:
        a.continue(href=adminUrl + `/confirmation/` + token) підтвердити e-mail
        p.text або перейдіть за посиланням: #[br]
            a.link(href=adminUrl + `/confirmation/` + token) #{adminUrl + `/confirmation/` + token}
        p.text  Якщо Ви не реєструвались - проігноруйте це повідомлення.
