extends template-ua
block headerText
    h1.responseTitle Ви успішно підтвердили свою пошту
block subheaderText
    h1.desktopTitle Ви успішно підтвердили свою пошту
    //p.successfulRegistrationText Ви успішно підтвердили свою пошту
