extends template-en
block subheaderText
    p.registrationText Ви успішно зареєструвались
block content
    div.contentRegistrationText
        p.congrats Вітаємо! #[br] Ви успішно зареєструвались у нашому магазині, залишилося лише підтвердити вашу електронну адресу:
        button.confirm
            a(href=adminUrl + `/confirmation/` + token) ПІДТВЕРДИТИ E-MAIL
        p.link або перейдіть за посиланням:
        a.alink(href=adminUrl + `/confirmation/` + token) #{adminUrl + `/confirmation/` + token}
        p.ignore  Якщо Ви не реєструвались - проігноруйте це повідомлення.