extends template-ua
block subheaderText
    p.unfinishedCartOperations Ваше замовлення успішно оформленe

block content
    div.contentUnfinishedCartOperations
        p.thankYouText Дякую що Ви завжди з нами!
        button.confirm
            a(href) Продовжити покупки