doctype html
html
    head
        meta(charset='UTF-8')
        style
            include css/main.css
            include css/adaptive.css
        block styles
    body
        header
        main
            div.subheader
                block subheaderText
            block content
        footer.top
            p Best wishes,
            h2 HORONDI