doctype html
html
    head
        style
            include css/main.css
        block styles
    body
<<<<<<< HEAD
        header 
        main
=======
        header
>>>>>>> 315b3944... redesignIncompleteOperation
            div.subheader
                block subheaderText
            block content
        footer
            p З найкращими побажаннями,
            h2 HORONDI