doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        style
            include css/main.css
            include css/adaptive.css
        block styles
    body
        header
            div.container
                block headerText
        main
            block subheaderText
            block content
        footer
            p.text.bestWishes Best wishes,
            h2.logo horondi
