doctype html
html
    head
        style
            include css/main.css
        block styles
    body
        header
        main
            div.subheader
                block subheaderText
            block content
        footer.border
            p Best wishes,
            h2 HORONDI