doctype html
html
    head
        style
            include css/main.css

    body
        header
            h1 HORONDI
            div.subheader
                block subheaderText
        main
            block content

        footer
            p З найкращими побажаннями,
            h2 HORONDI