extends template-ua
block subheaderText
    p.blockUserText Ваш аккаунт розблоковано
block content
    div.unlockUserContent
        p Вітаємо! #[br]#[br] Період обзервації закінчено, ваш акаунт знову активний. #[br]#[br] Нагадуємо вам про #[a.termslink(href=frontendUrl + `/terms`) правила користування] нашим сайтом. #[hr]