extends template-en
block headerText
    h1.responseTitle Your account has been unblocked
block subheaderText
    h1.desktopTitle Your account has been unblocked
block content
    div.contentWrapper
        p.text Congratulations!
        p.text The review period is over, your account is active again.
        p.text We remind you of the #[a(href=frontendUrl + `/terms`) rules of use] of our site.
