extends template-en
block subheaderText
    p.blockUserText Your account has been unblocked
block content
    div.unlockUserContent
        p Congratulations! #[br]#[br] Your account has been unblocked and now you are able to use it. #[br]#[br] We remind you about our #[a.termslink(href=frontendUrl + `/terms`) terms of use] of our site.