extends template-ua
block headerText
    h1.responseTitle Ваш аккаунт розблоковано
block subheaderText
    h1.desktopTitle Ваш аккаунт розблоковано
block content
    div.contentWrapper
        p.text Вітаємо!
        p.text Період обзервації закінчено, ваш акаунт знову активний.
        p.text Нагадуємо вам про #[a(href=frontendUrl + `/terms`) правила користування] нашим сайтом.
