name: CI
on:
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master, development ]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0      
      - name: Run DB
        run: docker-compose -f ./docker/docker-compose.yaml up -d             
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '14.15.4'
      - run: echo $MONGO_URL
      - run: npm install
      - run: npm run test
        env:
          NODE_OPTIONS: --max_old_space_size=4096
          MONGO_URL: ${{secrets.MONGO_URL}}
          MAIL_USER: ${{secrets.MAIL_USER}}
          MAIL_PASS: ${{secrets.MAIL_PASS}}
          MAIL_HOST: ${{secrets.MAIL_HOST}}
          MAIL_PORT: ${{secrets.MAIL_PORT}}
          GMAIL_EMAIL_SERVICE: ${{secrets.GMAIL_EMAIL_SERVICE}}
          GMAIL_API_ID: ${{secrets.GMAIL_API_ID}}
          GMAIL_API_SECRET: ${{secrets.GMAIL_API_SECRET}}
          GMAIL_API_REDIRECT_URI: ${{secrets.GMAIL_API_REDIRECT_URI}}
          GMAIL_API_REFRESH_TOKEN: ${{secrets.GMAIL_API_REFRESH_TOKEN}}
          SECRET: ${{secrets.SECRET}}
          CONFIRMATION_SECRET: ${{secrets.CONFIRMATION_SECRET}}
          EXPIRES_IN: ${{secrets.EXPIRES_IN}}
          TOKEN_EXPIRES_IN: ${{secrets.TOKEN_EXPIRES_IN}}
          REFRESH_TOKEN_EXPIRES_IN: ${{secrets.REFRESH_TOKEN_EXPIRES_IN}}
          RECOVERY_EXPIRE: ${{secrets.RECOVERY_EXPIRE}}
          BASE_URI: ${{secrets.BASE_URI}}
          KEY_VAULTS_URI: ${{secrets.KEY_VAULTS_URI}}
          FRONT_BASE_URI: ${{secrets.FRONT_BASE_URI}}
          ADMIN_BASE_URI: ${{secrets.ADMIN_BASE_URI}}
          TEST_BASE_URI: ${{secrets.TEST_BASE_URI}}
          IMAGE_LINK: ${{secrets.IMAGE_LINK}}
          STORAGE_ACCOUNT: ${{secrets.STORAGE_ACCOUNT}}
          AZURE_HOST: ${{secrets.AZURE_HOST}}
          SENDGRID_API_KEY: ${{secrets.SENDGRID_API_KEY}}
          CURRENCY_API_URL: ${{secrets.CURRENCY_API_URL}}
          ACCESS_KEY: ${{secrets.ACCESS_KEY}}
          SUPER_ADMIN_EMAIL: ${{secrets.SUPER_ADMIN_EMAIL}}
          SUPER_ADMIN_PASSWORD: ${{secrets.SUPER_ADMIN_PASSWORD}}
          PAYMENT_SECRET: ${{secrets.PAYMENT_SECRET}}
          PAYMENT_MERCHANT_ID: ${{secrets.PAYMENT_MERCHANT_ID}}
          NOVA_POSHTA_API_LINK: ${{secrets.NOVA_POSHTA_API_LINK}}
          NOVA_POSHTA_API_KEY: ${{secrets.NOVA_POSHTA_API_KEY}}
          PAYMENT_API_LINK: ${{secrets.PAYMENT_API_LINK}}
          REACT_APP_GOOGLE_CLIENT_ID: ${{secrets.REACT_APP_GOOGLE_CLIENT_ID}}
 
      - name: The eslint checking
        run: npm run lint:fix

      - name: fix code coverage paths
        run: | 
          sed -i 's/\/home\/runner\/work\/horondi_client_be\/horondi_client_be\//\/github\/workspace\//g' test-report.xml
          sed -i 's/\/home\/runner\/work\/horondi_client_be\/horondi_client_be\//\/github\/workspace\//g' coverage/lcov.info
      
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 
          CI: true
